{% load static %}
<!DOCTYPE html>
<head>
<title>Enquiry Form</title>
<link rel="icon" type="image/png" href="logo1.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=" Soham Enterprises"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css'%}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">   <!-- font-awesome icons --> 
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" /> 
<link rel="stylesheet" href="{% static 'css/percircle.css' %}"> 
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}"> <!-- lightbox css -->
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}"> <!-- lightbox css -->
<!-- //Custom Theme files -->  
<!-- web-fonts -->    
<link href="{% static '//fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' %}" rel='stylesheet' type='text/css'>
<link href="{% static '//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' %}" rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body>


	<div class="headerw3-agile"> 
	
		<div class="header-w3mdl"><!-- header-two --> 
			<div class="container"> 
				<div class="agileits-logo navbar-left">
					<a href="{% url 'index' %}">
					<img src="{% static 'images/logo1.jpg' %}"/>
					<h1>Soham Enterprises</a></h1> 
				</div> 
				<div class="agileits-hdright nav navbar-nav navbar-right">
					<div class="social-icon">
						<a href="https://www.twitter.com" target="_blank" class="si-agileits twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com" target="_blank" class="si-agileits facebook"><i class="fa fa-facebook"></i></a> 
						<a href="https://www.google.com" target="_blank" class="si-agileits google"><i class="fa fa-google-plus"></i></a> 
						<a href="https://www.linkedin.com" target="_blank" class="si-agileits linkedin"><i class="fa fa-linkedin"></i></a>
					</div> 
				</div>
				<div class="clearfix"> </div> 
			</div>	
		</div>	
	</div>	
	<!-- //header -->  
	<!-- banner -->
	<div class="w3ls-banner">
		<div class="header-nav"><!-- header-three --> 	
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						Menu 
					</button> 
				</div>
				<!-- top-nav -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
	`					<li><a href="{% url 'index' %}" class="scroll">Home</a></li>
						<li><a href="{% url 'index' %}#services" class="scroll">Services</a></li>   
						<li><a href="{% url 'index' %}#about" class="scroll">About</a></li>    
						<li><a href="{% url 'index' %}#gallery" class="scroll">Gallery</a></li>
						<li><a href="{% url 'index' %}#contact" class="active">Contact Us</a></li>
					</ul>  
					<div class="clearfix"> </div>	
				</div>
			</nav>    
		</div>

<div class="SerTitle">
	<h3>Enquiry</h3>
</div>
	<section class="page-section" id="contact">
        <div class="container">
			<form action="{% url 'enquiry' %}" method="POST>
			 {% csrf_token %}
                Name:<input class="form-control" method="POST" id="name" name="name" placeholder="Name" type="text" required><br>
                              
                Email:<input class="form-control" method="POST" id="email" name="email" placeholder="Email" type="email" required><br>
                            
                Comments:<textarea class="form-control" method="POST" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                           <input class="btn btn-default pull-right" type="submit"></input>
             </form>              
        </div>
     </section>

<div class="copy-w3right">
		<div class="container">  
			<p>© 2019 Soham Enterprises. All Rights Reserved | Design by  <a>Rani Erande.</a> </p>
		</div>
	</div>

</body>
	
</html>